Repository unifiedjs/unified, pull requests merged in 2021-07, with the labels that each got.

#145 types: add support for boolean plugin options
  types/index.d.ts
  types/unified-tests.ts
Labels: ☂️ area/types, 💪 phase/solved

#144 types: add support for buffer, other return values
  types/index.d.ts
Labels: ☂️ area/types, 🤞 phase/open

#146 Add explicit dependency on `@types/unist`
  package.json
Labels: 🤞 phase/open

#147 Fix types to support booleans
  types/index.d.ts
Labels: ☂️ area/types, 🤞 phase/open

#148 Fix to improve plugin, plugin tuples with boolean options
  types/index.d.ts
  types/unified-tests.ts
Labels: ☂️ area/types, 🤞 phase/open

#149 Fix `next` in types of transformer signature
  types/index.d.ts
  types/unified-tests.ts
Labels: ☂️ area/types, 🤞 phase/open

#150 Rewrite types
  .gitignore
  index.d.ts
  index.js
  index.test-d.ts
  lib/index.js
  package.json
  test/async-function.js
  test/core.js
  test/freeze.js
  test/parse.js
  test/process.js
  test/run.js
  test/stringify.js
  test/use.js
  test/util/noop.js
  test/util/simple.js
  tsconfig.json
  types/index.d.ts
  types/tsconfig.json
  types/tslint.json
  types/unified-tests.ts
Labels: ☂️ area/types, 🤞 phase/open

#156 Add plugin tree type parameter
  index.d.ts
  index.test-d.ts
  test/async-function.js
  test/run.js
  test/use.js
Labels: ☂️ area/types, 🤞 phase/open, 🦋 type/enhancement, 🧒 semver/minor
